*
{
 padding: 0px;
 margin: 0px;



}



body
{
 background-image: url("space.jpg");
 background-position: center;
 background-size: cover;
 background-attachment: fixed;

}
.nag
{

 font-size: 25px;
 float:center;
 background-color: blue;
 text-align: center;
 margin-bottom:1%;
 color: white;

}
.tlo
{
 background-color: grey;
 margin-left:5%;
 margin-right:5%;


}
.tekst
{
 background-color: white;
 text-align: left;
 font-size: 25px;
 margin-left:11%;
 
}
.ram
{
 background-color: grey;
 margin-left:2%;
 margin-right:2%;
}
.bar
{
 float:left;
 width: 10%;
}
.bar2
{
 background-color:red;
 text-align: center;
 font-size: 28px;
}
.bar3
{
 background-color:pink;
 text-align: left;
 font-size: 25px;
 color:blue;

}
.foot
{
 background-color: #E47490;
 clear: both;
 height:20px;
 text-align: center;
 font-size: 15px;

}

ul {
	margin-left:40px;
	list-style: url('checked-tick-svgrepo-com.svg');
}
ol
{
	margin-left:40px;
    list-style: url('check-svgrepo-com.svg');
	
}
h1
{
	text-transform: uppercase;
}
