* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.header {
    padding: 70px;
    text-align: left;
    background-image: url("obrazy/template.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .header h1 {
        font-size: 50px;
    }

.topnav {
    background-color: #dac9ba;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

    .topnav ul:not(.nav-submenu) {
        list-style: none;
        display: flex;
        position: relative;
    }

.nav-submenu {
    transform: translateY(14px);
    list-style: none;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.topnav ul {
    padding: 0;
}

    .topnav ul:not(.nav-submenu) > li:hover > ul {
        opacity: 1;
        position: absolute;
        z-index: 5;
        background: #dac9ba;
    }

.topnav li > a {
    text-decoration: none;
    color: #333;
}

.topnav li {
    font-weight: 600;
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
}

    .topnav li:hover {
        background-color: #ddd;
        color: black;
    }

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 10px;
    
    font-size: 19px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
p {
    font-size: 20px;
    font-family: Verdana Pro;
}
.migt {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
}
h4 {
    margin-left: 30%;
    font-size: 30px;
    margin-top: 10px;
}
h8 {
    margin-left: 30%;
    font-size: 30px;
    margin-top: 10px;
	font-family: Comic Sans MS;
}
h2 {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 10px;
	font-family: Comic Sans MS;
}
h1 {
    margin-left: 10px;
    font-size: 30px;
    margin-top: 10px;
	font-family: eras medium itc;
	color: yellow;
}
.migt2{
    float: right;
    margin-top: 10px;
    margin-right: 13%;
}
h6 {
    margin-left: 36%;
    font-size: 30px;
    margin-top: 10px;
}
.button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: rgb(49, 185, 233);
        border-radius: 3px;
        outline: none;
		margin-left: 10px;
      }
	  .button1 {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: black;
        background-color: #dac9ba;
        border-radius: 3px;
        outline: none;
      }
.rejestracja{
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: rgb(49, 185, 233);
        border-radius: 3px;
		display: inline-block;
		position: absolute;
		margin-left: 92%;
  }
  .login{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(49, 185, 233);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    margin-left: 78%;
}
.wrapkfcV2{
display:none;
margin: auto;
width: 50%;
border: 3px solid green;
padding: 10px;

}