*
{
 padding: 0px;
 margin: 0px;
}

body
{
 background-image: url("R.jfif");
 background-position: center;
 background-size: cover;
 background-attachment: fixed;

}
.tlo
{
 background-color: grey;
}
.nag
{

 font-size: 25px;
 float:center;
 background-color: #AD7F5D;
 text-align: center;
 color: white;
}
.ram
{
 background-color: grey;
}
.bar
{
 
}
.wrapkfc{
background-color: #fefaff;
width:450px;
padding:50px 0;
position:absolute;
transform: translate(-50%,-50%);
left:50%;
top:50%;
border-radius:10px;
box-shadow: 0 20px 25px rgba (0,0,0,0.2);
text-align:center;
}
button{
	float:right;
	
	
	
}